doctype html
head
    include ../Component/head/Head.pug
header.content-header
    include ../Component/header/Header.pug
main.content-main
  aside.content-aside_chat
    include ../Component/sidebar/Sidebar.pug
  section.content-section
    .content-section_title
    h1 Выберите чат чтобы отправить сообщение
script(src="../js/index.ts")
