doctype html
head
    include ../Component/Head.pug
section.section-login
  .section-login__welcome
    h1 Добро Пожаловать
    object(data='../img/img_login.svg' type='image/svg+xml')
  .section-login__form
    .section-login__form-content

        form#form
          label
            p Логин
            input#login(type='text' placeholder='Введите логин' name='login')
          label
            p пароль
            input#password(type='text' placeholder='Введите пароль' name='password')
          p.error_login
          button#btn(type='submit')
            | Авторизоваться
          a(href='signin.pug') Нет аккаунта ?
script(type="text/javascript" src="../js/login.ts" )

