form(method='POST')
  label.chat-form_textarea
    textarea(placeholder='Сообщение')
    .chat-form_textarea_elements
      .textarea_elements-base
        img(src='../img/bold.svg' alt='bold' data-tooltip="Bold")
        img(src='../img/italic.svg' alt='' data-tooltip="Italic")
        img(src='../img/strikethrough.svg' alt='' data-tooltip="Striketrought")
        img(src='../img/link.svg' alt='' data-tooltip="Link")
        img(src='../img/ordered.png' alt='' data-tooltip="Bulleted list")
      .textarea_elements-main
        img(src='../img/smile.png' alt='' data-tooltip="Smile")
        img(onclick='addFileActivator()' src='../img/addFile.png' alt='' data-tooltip="Add file")
        img(src='../img/sendMessage.png' alt='' data-tooltip="Send message")
        .block_addfile
          button
            img(src='../img/addFilePhoto.svg' alt='')
            p Фото или Видео
          button
            img(src='../img/addFileFile.svg' alt='')
            p Файл
          button
            img(src='../img/addFileLocation.svg' alt='')
            p Локация
