<div class="content-section_chat-message">
    <div class="chat-message__date">
        <p>19 июня</p>
    </div>

    <div class="chat-message__otherUser">
        <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.<br><br>

        Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.</p>
        <span class="time__message">11:56</span>
    </div>
    <div class="chat-message__otherUser-img">
        <img src="assets/img/camera.png" alt="">
        <span class="time__message">12:00</span>
    </div>

    <div class="chat-message__youUser">
        <p class="text-message__youUser">Круто</p>
        <div class="chat-message__youUser-info">
            <img src="assets/img/readmessage.svg" alt="">
            <span>12:00</span>
        </div>
    </div>
</div>

<div class="content-section_chat-form">
    <form method="POST">
        <label class="chat-form_textarea">
            <textarea placeholder="Сообщение"></textarea>
            <div class="chat-form_textarea_elements">  
                <div class="textarea_elements-base">
                    <img src="assets/img/bold.svg" alt="bold">
                    <img src="assets/img/italic.svg" alt="">
                    <img src="assets/img/strikethrough.svg" alt="">
                    <img src="assets/img/link.svg" alt="">
                    <img src="assets/img/ordered.png" alt="">
                </div>
                <div class="textarea_elements-main">
                    <img src="assets/img/smile.png" alt="">
                    <img onclick="addFileActivator()" src="assets/img/addFile.png" alt="">
                    <img src="assets/img/sendMessage.png" alt="">

                    <div class="block_addfile">
                        <button>
                            <img src="assets/img/addFilePhoto.svg" alt="">
                            <p>Фото или Видео</p>
                        </button>
                        <button>
                            <img src="assets/img/addFileFile.svg" alt="">
                            <p>Файл</p>
                        </button>
                        <button>
                            <img src="assets/img/addFileLocation.svg" alt="">
                            <p>Локация</p>
                        </button>
                    </div>
                </div>
            </div>
        </label>
    </form>
</div>