<div class="content-header__title">
    <p>Чаты</p>
</div>

<div class="content-header__info">
    <div class="content-header__info_notice">
        <div class="bell_img">
            <span class="fav_count fav_count_header">1</span>
            <img onclick="elementNoticeActivator()" id="flyoutIcon-example" src="assets/img/bell.svg" alt="Уведомление">
            <div class="bell_block" onclick="elementBlockNoticeActivator()" id="flyout-example">
                <div class="bell_block-title">
                    <p>Уведомления</p>
                </div>
                <div class="flyout-debug" id="flyout-debug"></div>
                <nav class="bell-link__list">
                    <ul class="bell_items">
                        <li class="bell_item">
                            <a href="#">
                                <div class="bell_item-userAnswer">
                                    <img src="assets/img/logochat.png" alt="">
                                    <div class="bell_item-text">
                                        <p>Имя пользователя</p>
                                        <p>Что-то написал бла-бла-бла-бла</p>
                                    </div>
                                </div>
                                <div class="bell_item-time">
                                    <p>Пять дней назад</p>
                                </div>
                            </a>
                        </li>
                        <li class="bell_item">
                            <a href="#">
                                <div class="bell_item-userAnswer">
                                    <img src="assets/img/logochat.png" alt="">
                                    <div class="bell_item-text">
                                        <p>Имя пользователя</p>
                                        <p>Что-то написал бла-бла-бла-бла</p>
                                    </div>
                                </div>
                                <div class="bell_item-time">
                                    <p>Пять дней назад</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="content-header__info_account">
        <img class="account_img" src="assets/img/man.jpg" alt="Фото">
        <div class="account_data">
            <p class="account_data-name">Имя Пользователя</p>
            <p class="status_user"><img class="status_user-img" src="assets/img/clover.svg" alt=""> В сети</p>
        </div>
        <img class="account_detail" src="assets/img/arrow_down.svg" id="flyoutIcon-exampl" alt="" onclick="elementProfileActivator()">

        <div class="info-account__block" id="flyout-exampl"> 
            <nav class="info-account__list">
                <ul class="info-account__items">
                    <li class="info-account__item">
                        <div class="flyout-debug" id="flyout-deb"></div>
                        <a href="/account">
                            Аккаунт <img src="assets/img/right-arrow.svg" alt="">
                        </a>
                    </li>
                    <li class="info-account__item">
                        <a href="/login">
                            Выйти <img src="assets/img/right-arrow.svg" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>