<div class="content-aside_interlocutor-img">
    <div class="interlocutor-img__content">
        <img class="interlocutor-img__user" src="assets/img/andre.jpg" alt="">
        <div class="interlocutor-img__content-info">
            <p class="interlocutor-img__UserName">Андрей</p>
            <p class="interlocutor-status_user"><img class="interlocutor-status_user-img" src="assets/img/clover.svg" alt=""> В сети</p>
        </div>
    </div>
</div>

<div class="content-aside_interlocutor-info">
    <div class="interlocutor-info__id">
        <p>ID</p>
        <p>#121212</p>
    </div>
    <div class="interlocutor-info__mail">
        <p>Почта</p>
        <p>pochta@yandex.ru</p>
    </div>
    <div class="interlocutor-info__phone">
        <p>Телефон</p>
        <p>+7 (909) 999 20 20</p>
    </div>
    <a href="#">Подробнее</a>
</div>

<div class="content-aside_interlocutor-media">
    <div class="interlocutor-media__title">
        <p>Медиа</p>
        <a href="#">Подробнее</a>
    </div>
    <div class="interlocutor-media__content">
        <div class="media_item">
            <img src="assets/img/6media.jpg" alt="">
        </div>
        <div class="media_item">
            <img src="assets/img/5media.jpg" alt="">
        </div>
        <div class="media_item">
            <img src="assets/img/4media.jpg" alt="">
        </div>
    </div>
</div>