<div class="sidebar-account">
    <div class="sidebar-account__item">
        <a onclick="return window.history.back();">
            <img class="link_back" src="assets/img/arrow_account.svg" alt="">
        </a>
    </div>
</div>