<div class="content-section_title-userChat">
    <img src="assets/img/logochat.png" alt="">
    <p>Андрей</p>
</div>
<div class="content-section_title-menuChat">
    <img src="assets/img/chat_menu.svg" alt="" onclick="elementChatSettingActivator()" id="flyoutIcon">
</div>