.content-header__title
  p #{title}
.content-header__info
  .content-header__info_notice
    .bell_img
      span.fav_count.fav_count_header 1
      img#flyoutIcon-example(onclick='elementNoticeActivator()' src='img/bell.svg' alt='Уведомление')
      #flyout-example.bell_block(onclick='elementBlockNoticeActivator()')
        .bell_block-title
          p Уведомления
        #flyout-debug.flyout-debug
        nav.bell-link__list
          ul.bell_items
            li.bell_item
              a(href='#')
                .bell_item-userAnswer
                  img(src='img/logochat.png' alt='')
                  .bell_item-text
                    p Имя пользователя
                    p Что-то написал бла-бла-бла-бла
                .bell_item-time
                  p Пять дней назад
            li.bell_item
              a(href='#')
                .bell_item-userAnswer
                  img(src='img/logochat.png' alt='')
                  .bell_item-text
                    p Имя пользователя
                    p Что-то написал бла-бла-бла-бла
                .bell_item-time
                  p Пять дней назад
  .content-header__info_account
    img.account_img(src='img/man.jpg' alt='Фото')
    .account_data
      p.account_data-name Имя Пользователя
      p.status_user 
        img.status_user-img(src='img/clover.svg' alt='')
        |  В сети
    img#flyoutIcon-exampl.account_detail(src='img/arrow_down.svg' alt='' onclick='elementProfileActivator()')
    #flyout-exampl.info-account__block
      nav.info-account__list
        ul.info-account__items
          li.info-account__item
            #flyout-deb.flyout-debug
            a(href='/account')
              | Аккаунт
              img(src='img/right-arrow.svg' alt='')
          li.info-account__item
            a(href='/')
              | Главная страница
              img(src='img/right-arrow.svg' alt='')
          li.info-account__item
            a(href='/login')
              | Авторизация
              img(src='img/right-arrow.svg' alt='')
          li.info-account__item
            a(href='/signin')
              | Регистрация
              img(src='img/right-arrow.svg' alt='')
          li.info-account__item
            a(href='/chat')
              | Чат
              img(src='img/right-arrow.svg' alt='')
          li.info-account__item
            a(href='/accountedit')
              | Изменить данные
              img(src='img/right-arrow.svg' alt='')
          li.info-account__item
            a(href='/resetpassword')
              | Изменить пароль
              img(src='img/right-arrow.svg' alt='')
          li.info-account__item
            a(href='/404')
              | 404
              img(src='img/right-arrow.svg' alt='')
          li.info-account__item
            a(href='/500')
              | 500
              img(src='img/right-arrow.svg' alt='')