doctype html
head
    include Component/Head.pug
    link(rel='stylesheet' href='style/page.css')
header.content-header
    include Component/Header.pug
main.content-main
  aside.content-aside_chat
    include Component/Sidebar.pug 
  section.content-section
    .content-section_title
    h1 Выберите чат чтобы отправить сообщение
script
  include index.js