doctype html
head
    include Component/Head.pug
    link(rel='stylesheet' href='style/page.css')
    link(rel='stylesheet' href='style/account.css')
header.content-header
    include Component/HeaderAccount.pug
main.content-main
  aside.content-aside__account
    include Component/SidebarAccount.pug
  section.content-section
    .content-section_title
    .section-account__content
      .section-account__content-avatar
        img(src='img/noavatar.svg' alt='')
      .section-account__content-profile
        .content-profile__item
          p Старый пароль
          input#oldPassword(type='password' placeholder='password' name='oldPassword')
        .content-profile__item
          p Новый пароль
          input#newPassword(type='password' placeholder='password' name='newPassword')
        .content-profile__item
          p Повторите новый пароль
          input#newPasswordTwo(type='password' placeholder='password' name='newPasswordTwo')
      button.accountEditSave(onclick='resetPassword()') Сохранить
script
  include index.js
  include js/resetpassword.js