.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 2% 13px;
    align-items: center;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(143, 143, 143, 0.2);
    -moz-box-shadow: 0px 2px 0px 0px rgba(143, 143, 143, 0.2);
    box-shadow: 0px 2px 0px 0px rgba(143, 143, 143, 0.2);
}

.content-header__title{
    font-size: 34px;
    font-weight: bold;
}

.content-header__info{
    display: flex;
}

.content-header__info_account{
    display: flex;
    align-items: center;
}
.content-header__info_notice img{
    width: 40px;
    height: 40px;
    padding: 8px;
    border: 1px solid #8f8f8f;
    border-radius: 50%;
    cursor: pointer;
}

.content-header__info_notice{
    display: flex;
    align-items: center;
    padding-right: 30px;
    border-right: 2px solid rgba(143, 143, 143, 0.2);
}

.content-header__info_account{
    padding-left: 20px;
    position: relative;
}

.fav_count_header {
    width: 18px;
    height: 18px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.fav_count {
    background: #b70000;
    color: #fff;
    display: block;
    justify-content: center;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    text-decoration: none!important;
    position: absolute;
    top: 0px;
    right: -8px;
}

.account_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.status_user-img{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.account_detail{
    width: 25px;
    height: 25px;
    padding: 5px;
    border: 1px solid #8f8f8f;
    border-radius: 50%;
    cursor: pointer;
}

.account_data{
    margin-left: 15px;
    margin-right: 20px;
}

.status_user{
    display: flex;
    align-items: center;
    color: #8f8f8f;
}

.account_data-name{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
}

.content-section{
    width: 100%;
    padding-left: 2px;
}

.info-account__block{
    position: absolute;
    top: 55px;
    left: 0px;
    z-index: 10;
    max-width: 317.7px;
    width: 100%;
    background-color: #fafbfc;
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 30%);
    display: none;
    border-radius: 5px;
}

.info-account__items{
    list-style: none;
}

.info-account__item a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #000;
}

.info-account__item a img{
    width: 12px;
    height: 12px;
}