<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Component/Head') %>
</head>
<body>
    <div class="error-server">
        <div class="error-server__text">
            <h1>404</h1>
            <p>Не туда попали</p>
        </div>
        <div class="error-server__link">
            <a href="/">Назад к чатам</a>
        </div>
    </div>
</body>
</html>