<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Component/Head') %>
</head>
<body>
    <header class="content-header">
        <%- include('./Component/HeaderAccount') %>
    </header>
    <main class="content-main">
        <aside class="content-aside__account">
            <%- include('./Component/SidebarAccount') %>
        </aside>
        <section class="content-section">
            <div class="content-section_title">
            </div>
            <div class="section-account__content">
                <div class="section-account__content-avatar">
                    <div onclick="elementChangeAvatar()" id="flyoutIcon-exa" class="content-avatar__img">
                        <img src="assets/img/noavatar.svg" alt="">
                    </div>
                    <p>Имя пользователя</p>
                </div>

                <div class="section-account__content-profile">
                    <div class="content-profile__item">
                        <p>Почта</p>
                        <p>pochta@yandex.ru</p>
                    </div>
                    <div class="content-profile__item">
                        <p>Логин</p>
                        <p>ivanivanov</p>
                    </div>
                    <div class="content-profile__item">
                        <p>Имя</p>
                        <p>Иван</p>
                    </div>
                    <div class="content-profile__item">
                        <p>Фамилия</p>
                        <p>Иванов</p>
                    </div>
                    <div class="content-profile__item">
                        <p>Имя в чате</p>
                        <p>Иван</p>
                    </div>
                    <div class="content-profile__item">
                        <p>Телефон</p>
                        <p>+7 (909) 967 30 30</p>
                    </div>
                </div>

                <div class="section-account__link">
                    <nav class="section-account__navigation">
                        <ul class="section-account__navigation-list">
                            <li class="section-account__navigation-item">
                                <a href="/accountedit">Изменить данные</a>
                            </li>
                            <li class="section-account__navigation-item">
                                <a href="/resetpassword">Изменить пароль</a>
                            </li>
                            <li class="section-account__navigation-item">
                                <a href="/login">Выйти</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </main>
    <div class="add-avatar__wripper">
        <div class="add-avatar" id="flyout-exa">
            <div class="add-avatar__title">
                <p>Загрузите фото</p>
            </div>
    
            <form name="uploadForm" class="FileForm">
                <div class="flyout-debug" id="flyout-d"></div>
                <label class="fileUploader__button" for="upload">Выбрать файл на компьютере</label>
                <input class="fileUploader__input" id="upload" type="file" accept="image/*">
                <p class="fileUploader__message" id="upload-message"></p>
            </form>
           
            <button class="changeFileButton" onclick="changeFile()">Поменять</button>

            <p class="FileForm__error">

            </p>
        </div>
    </div>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/change.js"></script>
</body>
</html>