<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Component/Head') %>
</head>
<body>
    <header class="content-header">
        <%- include('./Component/HeaderAccount') %>
    </header>
    <main class="content-main">
        <aside class="content-aside__account">
            <%- include('./Component/SidebarAccount') %>
        </aside>
        <section class="content-section">
            <div class="content-section_title">
            </div>
            <div class="section-account__content">
                <div class="section-account__content-avatar">
                    <img src="assets/img/noavatar.svg" alt="">
                </div>

                <div class="section-account__content-profile">
                    <div class="content-profile__item">
                        <p>Старый пароль</p>
                        <input type="password" placeholder="password" name="oldPassword" id="oldPassword">
                    </div>
                    <div class="content-profile__item">
                        <p>Новый пароль</p>
                        <input type="password" placeholder="password" name="newPassword" id="newPassword">
                    </div>
                    <div class="content-profile__item">
                        <p>Повторите новый пароль</p>
                        <input type="password" placeholder="password" name="newPasswordTwo" id="newPasswordTwo">
                    </div>
                </div>

                <button class="accountEditSave" onclick="resetPassword()">Сохранить</button>
            </div>
        </section>
    </main>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/resetpassword.js"></script>
</body>
</html>